.format {
    font-family: Arial, sans-serif;
}

.home-title {
    margin-bottom: 25px;
    height: 75px;
    display: flex;
    align-items: center;
}

.home-title h1 {
    margin-left: 15px;
}

.home-title + p {
    clear: both;
}

.home-title img {
    float: left;
    height: 60px;
    display: block;
    margin: 0;
}

.small {
    font-size: 14pt;
}