<header>
  <div class="bar">
    <a href="{{ .Site.BaseURL }}">
      <img class="bag" src="{{ "img/avatar.webp" | relURL }}" alt="Me (under a bag)" />
      <div>
        <p class="name">Joshua Winkler</p>
        <p class="muted">Software Developer</p>
      </div>
    </a>
    <div class="links">
      <a
        href="https://x.com/bemoty"
        target="_blank"
        title="My profile on X"
        rel="nofollow noreferrer"
        ><img src="{{ .Site.BaseURL }}/img/x.svg" alt="X Logo"
      /></a>
      <a
        href="https://github.com/bemoty"
        target="_blank"
        title="My profile on GitHub"
        rel="nofollow noreferrer"
        ><img src="{{ .Site.BaseURL }}/img/github.svg" alt="GitHub Logo"
      /></a>
    </div>
  </div>
  <ul class="nav">
    <li>
      <a href="{{ .Site.BaseURL }}">Home</a>
    </li>
    <li>
      <a href="{{ .Site.BaseURL }}about">About</a>
    </li>
    <li>
      <a href="{{ .Site.BaseURL }}contact">Contact</a>
    </li>
  </ul>
</header>
