<header>
  <div class="bar">
    <a href="{{ .Site.BaseURL }}">
      <img class="bag" src="{{ "img/avatar.png" | relURL }}" alt="Me (under a bag)" />
      <div>
        <p class="name">Joshua Winkler</p>
        <p class="muted">Software Developer</p>
      </div>
    </a>
    <div class="links">
      <a
        href="https://twitter.com/bemoty"
        target="_blank"
        rel="nofollow noreferrer"
        ><img src="{{ .Site.BaseURL }}/img/twitter.svg" alt="Twitter logo"
      /></a>
      <a
        href="https://github.com/bemoty"
        target="_blank"
        rel="nofollow noreferrer"
        ><img src="{{ .Site.BaseURL }}/img/github.svg" alt="GitHub logo"
      /></a>
    </div>
  </div>
  <ul class="nav">
    <li>
      <a href="{{ .Site.BaseURL }}">Home</a>
    </li>
    <li>
      <a href="{{ .Site.BaseURL }}about">About</a>
    </li>
    <li>
      <a href="{{ .Site.BaseURL }}contact">Contact</a>
    </li>
  </ul>
</header>
