{{ define "main" }}
<main>
	<p>hi, my name is josh and i'm a software developer.</p>
	<ul class="index-links">
		<li><a href="https://github.com/bemoty" rel="nofollow" target="_blank">creative github repos</a></li>
		<li><a href="https://twitter.com/bemoty" rel="nofollow" target="_blank">inactive twitter account</a></li>
		<li><a href="https://open.spotify.com/playlist/37i9dQZF1EpgG5CZ0HLkO7?si=265cc37ce57e4bd8" rel="nofollow" target="_blank">very good music on spotify</a></li>
	</ul>
</main>
{{ end }}
