---
layout: default
---
<header>
  <h1>{{ site.title }}</h1>
  <p>
    i’m an austrian software engineer @ <a href="https://gommehd.net/" target="_blank" rel="noopener noreferrer">gommehd.net</a> developing minecraft minigames, network infrastructure, and web apps for over 5 million unique players. when i’m not coding, i moderate mojang’s bug tracker <a href="https://bugs.mojang.com/" target="_blank" rel="noopener noreferrer">mojira</a> and <a href="https://crowdin.com/project/minecraft/" target="_blank" rel="noopener noreferrer">translate minecraft</a> to german.
  </p>
  {% if site.theme_config.show_description %}
    <p>{{ site.description }}</p>
  {% endif %}
</header>

{% include menu_item.html collection=site.data.menu.entries %}

{{ content }}