---
layout: default
---
<header>
  <div class="home-title">
    <h1>bemoty</h1>
    <img src="/assets/img/avatar.png" />
  </div>
  <p>
    My real name is Josh, I'm a software developer based in Austria and studying CS at the <a href="https://uibk.ac.at" target="_blank">University of Innsbruck</a>.
  </p>
  <p>
    Feel free to use the PGP key below if you want to contact me.
  </p>
  {% if site.theme_config.show_description %}
  <p>{{ site.description }}</p>
  {% endif %}
</header>

{% include menu_item.html collection=site.data.menu.entries %}

{{ content }}